#contactus.section
  .left3
  .right10
    .left4
      %p.contact
        = I18n.t("contacts.contact1")
      %p.contact
        = I18n.t("contacts.contact2")
      %p.contact
        = I18n.t("contacts.contact3")
    .right4
      %p.contact
        = I18n.t("contacts.contact4")
      %p.contact
        = I18n.t("contacts.contact5")
    %p.special#form
      = I18n.t("contacts.contact6")

    = partial "partials/contactus-form"