#efree.section
  .left3
    %h2
      = I18n.t("efreesection.title")
  .right9
    %p.desc
      = I18n.t("efreesection.description1")
    %p
      = t("efreesection.description2")
    %p
      = t("efreesection.description3")
    %p
      = t("efreesection.description4")
    %p
      = t("efreesection.description5")
    %p
      = t("efreesection.description6")