---
title: "main page"
metas: "main"
---
= partial "partials/header"
#container
  #aboutus
    .left3
      %h2
        = I18n.t("enzymes.title")
    .right9
      %p.desc
        = I18n.t("enzymes.description")
  #table
    %table{:cellspacing => "0"}
      %thead
        %tr.odd
          %th{class:"footable-first-column",:"data-toggle"=>"true"}
            = I18n.t("enzymes.head1")
          %th{:"data-hide"=>"phone,table"}
            = I18n.t("enzymes.head2")
          %th{:"data-hide"=>"phone,table"}
            = I18n.t("enzymes.head3")
          %th.special{:"data-hide"=>"phone,table"}
            = I18n.t("enzymes.head4")
          %th{class:"footable-last-column",colspan:"2"}
            = I18n.t("malts.head5")
      %tbody
        %tr.even
          %td.numeric
            = I18n.t("enzymes.row1.cell1")
          %td.numeric 
            = I18n.t("enzymes.row1.cell2")
          %td.numeric 
            = I18n.t("enzymes.row1.cell3")
          %td.numeric 
            = I18n.t("enzymes.row1.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product1171.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product1171.pdf-url")}"}
        %tr.odd
          %td.numeric
            = I18n.t("enzymes.row2.cell1")
          %td.numeric 
            = I18n.t("enzymes.row2.cell2")
          %td.numeric 
            = I18n.t("enzymes.row2.cell3")
          %td.numeric 
            = I18n.t("enzymes.row2.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product1118.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product1118.pdf-url")}"}
        %tr.even
          %td.numeric
            = I18n.t("enzymes.row3.cell1")
          %td.numeric 
            = I18n.t("enzymes.row3.cell2")
          %td.numeric 
            = I18n.t("enzymes.row3.cell3")
          %td.numeric 
            = I18n.t("enzymes.row3.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product1159.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product1159.pdf-url")}"}
        %tr.odd
          %td.numeric
            = I18n.t("enzymes.row4.cell1")
          %td.numeric 
            = I18n.t("enzymes.row4.cell2")
          %td.numeric 
            = I18n.t("enzymes.row4.cell3")
          %td.numeric 
            = I18n.t("enzymes.row4.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product4021.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product4021.pdf-url")}"}
        %tr.even
          %td.numeric
            = I18n.t("enzymes.row5.cell1")
          %td.numeric 
            = I18n.t("enzymes.row5.cell2")
          %td.numeric 
            = I18n.t("enzymes.row5.cell3")
          %td.numeric 
            = I18n.t("enzymes.row5.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product1133.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product1133.pdf-url")}"}
        %tr.odd
          %td.numeric
            = I18n.t("enzymes.row6.cell1")
          %td.numeric 
            = I18n.t("enzymes.row6.cell2")
          %td.numeric 
            = I18n.t("enzymes.row6.cell3")
          %td.numeric 
            = I18n.t("enzymes.row6.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product1108.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product1108.pdf-url")}"}
        %tr.even
          %td.numeric
            = I18n.t("enzymes.row7.cell1")
          %td.numeric 
            = I18n.t("enzymes.row7.cell2")
          %td.numeric 
            = I18n.t("enzymes.row7.cell3")
          %td.numeric 
            = I18n.t("enzymes.row7.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product1124.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product1124.pdf-url")}"}
        %tr.odd
          %td.numeric
            = I18n.t("enzymes.row8.cell1")
          %td.numeric 
            = I18n.t("enzymes.row8.cell2")
          %td.numeric 
            = I18n.t("enzymes.row8.cell3")
          %td.numeric 
            = I18n.t("enzymes.row8.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product2600.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product2600.pdf-url")}"}
        %tr.even
          %td.numeric
            = I18n.t("enzymes.row9.cell1")
          %td.numeric 
            = I18n.t("enzymes.row9.cell2")
          %td.numeric 
            = I18n.t("enzymes.row9.cell3")
          %td.numeric 
            = I18n.t("enzymes.row9.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product2601.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product2601.pdf-url")}"}
        %tr.odd
          %td.numeric
            = I18n.t("enzymes.row10.cell1")
          %td.numeric 
            = I18n.t("enzymes.row10.cell2")
          %td.numeric 
            = I18n.t("enzymes.row10.cell3")
          %td.numeric 
            = I18n.t("enzymes.row10.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product1135.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product1135.pdf-url")}"}
        %tr.even
          %td.numeric
            = I18n.t("enzymes.row11.cell1")
          %td.numeric 
            = I18n.t("enzymes.row11.cell2")
          %td.numeric 
            = I18n.t("enzymes.row11.cell3")
          %td.numeric 
            = I18n.t("enzymes.row11.cell4")
          %td.img.hl
            %a.view{href:"#{I18n.t("technicalsheet.enzymes.product1172.url")}"}
          %td.img.hl
            %a.download{href:"#{t("technicalsheet.enzymes.product1172.pdf-url")}"}
    .button-container
      %a.button{href:"#{I18n.t("enzymes.pdf-url")}", target: "_blank"}
        = I18n.t("enzymes.button")
  = partial "partials/footer"         
