#contactus.section
  .left3
    %h2
      = I18n.t("contacts.title")
    = image_tag "millbo_contatti_img.jpg"
  .right10
    %p.desc
      = I18n.t("contacts.description")
    .left4
      %p.contact
        = I18n.t("contacts.contact1")
      %p.contact
        = I18n.t("contacts.contact2")
      %p.contact
        = I18n.t("contacts.contact3")
    .right4
      %p.contact
        = I18n.t("contacts.contact4")
      %p.contact
        = I18n.t("contacts.contact5")
    %p.special
      = I18n.t("contacts.contact6")
      
    %form.contact-form{action: "form_data.php", method: "post", novalidate: ""}
      %input#name.form-name{name: "name", placeholder: I18n.t("contacts.form.name"), type: "text"}/
      %input#email.form-email{name: "company", placeholder: I18n.t("contacts.form.company"), type: "text"}/
      %input#nationality.form-email{name: "country", placeholder: I18n.t("contacts.form.country"), type: "text"}/
      %input#company.form-email{name: "email", placeholder: I18n.t("contacts.form.email"), type: "email"}/
      %input#phone.form-phone{name: "phone", placeholder: I18n.t("contacts.form.phone"), type: "text"}/
      %input#object.form-message{name: "subject", placeholder: I18n.t("contacts.form.object")}
      %textarea#message.form-message{name: "message", placeholder: I18n.t("contacts.form.message")}
      .button-container
        %button.btn.lightgreen 
          = I18n.t("contacts.form.button")
  .logo-center
  %p.info
    = I18n.t("contacts.contact7")
      