#contactus.section
  .left3
    %h2
      = I18n.t("contacts.title")
    = image_tag "millbo_contatti_img.jpg"
  .right10
    .left4
      %p.contact.desc
        = I18n.t("contacts.contact4")
      %p.contact
        = I18n.t("contacts.contact5")


  .logo-center
  %p.info
    = I18n.t("contacts.contact7")