.banner
  #menu-icon
    %a#nav-toggle{href:"#"}
      %span
  #menu

    .container
      #main
        %a{href:"#{I18n.t("menu.url1")}"}
          = image_tag "logo_lato.png", class: "logo-menu"
        %ul.menubar.black
          %li.menu
            %a.aboutus{href:"#{I18n.t("menu.url2")}"}
              = I18n.t("menu.item2")
          %li.menu
            %a.efree{href:"#{I18n.t("menu.url3")}"}
              = I18n.t("menu.item3")
          %li.menu
            %a.products{href:"#{I18n.t("menu.url4")}"}
              = I18n.t("menu.item4")
          %li.menu
            %a.certificate{href:"#{I18n.t("menu.url5")}"}
              = I18n.t("menu.item5")

          %li.menu
            %a.news{href:"#{I18n.t("menu.url14")}"}
              = I18n.t("menu.item14")
          %li.menu
            %a.contactus{href:"#{I18n.t("menu.url6")}"}
              = I18n.t("menu.item6")
          %li.menu
            #lang
              %a{href:"#{I18n.t("menu.url7")}"}
                = I18n.t("menu.item7")
