---
title: "main page"
metas: "main"
---
= partial "partials/header"
#container
  #aboutus
    .left3
      %h2
        = I18n.t("malts.title")
        
    .right9
      %p.desc
        = I18n.t("malts.description")
        
  #table
    %table{:cellspacing => "0"}
      %thead
        %tr.odd
          %th 
            = I18n.t("malts.head1")
          %th 
            = I18n.t("malts.head2")
          %th.special 
            = I18n.t("malts.head3")
          %th 
            = I18n.t("malts.head4")

      %tbody
        %tr.even
          %th.numeric 
            = I18n.t("malts.row1.cell1")
          %td.numeric 
            = I18n.t("malts.row1.cell2")
          %td.numeric.color 
            =image_tag("malti/malto_4021.png")
          %td.numeric 
            = I18n.t("malts.row1.cell3")
        %tr.odd
          %th.numeric 
            = I18n.t("malts.row2.cell1")
          %td.numeric 
            = I18n.t("malts.row2.cell2")
          %td.numeric.color 
            =image_tag("malti/malto_4022.png")
          %td.numeric 
            = I18n.t("malts.row2.cell3")
        %tr.even
          %th.numeric 
            = I18n.t("malts.row3.cell1")
          %td.numeric 
            = I18n.t("malts.row3.cell2")
          %td.numeric.color  
            =image_tag("malti/malto_4023.png")
          %td.numeric 
            = I18n.t("malts.row3.cell3")
        %tr.odd
          %th.numeric 
            = I18n.t("malts.row4.cell1")
          %td.numeric 
            = I18n.t("malts.row4.cell2")
          %td.numeric.color  
            =image_tag("malti/malto_4025.png")
          %td.numeric 
            = I18n.t("malts.row4.cell3")
        %tr.even
          %th.numeric 
            = I18n.t("malts.row5.cell1")
          %td.numeric 
            = I18n.t("malts.row5.cell2")
          %td.numeric.color  
            =image_tag("malti/malto_4026.png")
          %td.numeric 
            = I18n.t("malts.row5.cell3")
        %tr.odd
          %th.numeric 
            = I18n.t("malts.row6.cell1")
          %td.numeric 
            = I18n.t("malts.row6.cell2")
          %td.numeric.color  
            =image_tag("malti/malto_4030.png")
          %td.numeric 
            = I18n.t("malts.row6.cell3")
        %tr.even
          %th.numeric 
            = I18n.t("malts.row7.cell1")
          %td.numeric 
            = I18n.t("malts.row7.cell2")
          %td.numeric.color  
            =image_tag("malti/malto_4039.png")
          %td.numeric 
            = I18n.t("malts.row7.cell3")
    .button-container
      %a.button{href:"#{I18n.t("malts.pdf-url")}", target: "_blank"}
        = I18n.t("malts.button")
  = partial "partials/footer"
        