#products.section
  .left3
    %h2
      = t("products.title")

  .right9
    %p.desc
      = t("products.description")

  = image_tag "solutions.png"
  .button-box
    %a.button{href:"#{I18n.t("products.page-url")}"}
      = I18n.t("products.button-text")