
= partial "partials/header"
#container
  #certificate.section
    .left3
      %h2
        = t("certificates.title")
    .right10
      %p.desc
        = t("certificates.description-page")
      .cert
        %a{href:"/images/certificates/high/brccertificate.jpg"}
          = image_tag "certificates/low/brccertificate.jpg"
          %h3
            = t("certificates.certificate1")
          %span
            = t("certificates.download")
      .cert.last
        %a{href:"/images/certificates/high/certificateofmembership.jpg"}
          = image_tag "certificates/low/certificateofmembership.jpg"
          %h3
            = t("certificates.certificate2")
          %span
            = t("certificates.download")
      .cert
        %a{href:"/images/certificates/high/certificatodieccellenza.jpg"}
          = image_tag "certificates/low/certificatodieccellenza.jpg"
          %h3
            = t("certificates.certificate3")
          %span
            = t("certificates.download")
      .cert.last
        %a{href:"/images/certificates/high/certiquality9001.jpg"}
          = image_tag "certificates/low/certiquality9001.jpg"
          %h3
            = t("certificates.certificate4")
          %span
            = t("certificates.download")
      .cert
        %a{href:"/images/certificates/high/iso140012014.jpg"}
          = image_tag "certificates/low/iso140012014.jpg"
          %h3
            = t("certificates.certificate5")
          %span
            = t("certificates.download" )
      .cert.last
        %a{href:"/pdf/it/kosher.pdf"}
          = image_tag "certificates/low/kosher1.jpg"
          %h3
            = t("certificates.certificate6")
          %span
            = t("certificates.download")
      .cert
        %a{href:"/images/certificates/high/ohsas180012007.jpg"}
          = image_tag "certificates/low/ohsas180012007.jpg"
          %h3
            = t("certificates.certificate7")
          %span
            = t("certificates.download")
      .cert.last
        %a{href:"/images/certificates/high/unieniso140012014.jpg"}
          = image_tag "certificates/low/unieniso140012014.jpg"
          %h3
            = t("certificates.certificate8")
          %span
            = t("certificates.download")
      .cert
        %a{href:"/images/certificates/high/unieniso220002005.jpg"}
          = image_tag "certificates/low/unieniso220002005.jpg"
          %h3
            = t("certificates.certificate9")
          %span
            = t("certificates.download")
      .button-container
        %a.button{href:"#{I18n.t("certificates.pdf-url")}", target: "_blank"}
          = t("certificates.button")
  = partial "partials/separator-08"
  = partial "partials/contactus-section"
  = partial "partials/footer"
