= partial "partials/header"
#container
  #contactus.section
    .left3
      %h2
        = I18n.t("contacts.title")
    .right10
      %p.desc
        = I18n.t("contacts.description-page")
      .links
        .column
          %h3.location
            title
          %ul
            %li.name
              Test
            %li.mail
              %a{href:"#"}
                Test@dsfg.com
            %li.phone
              123456789876543
        .column
          %h3
            title
          %ul
            %li.name
              Test
            %li.mail
              %a{href:"#"}
                Test@dsfg.com
            %li.phone
              123456789876543
        .column
          %h3
            title
          %ul
            %li.name
              Test
            %li.mail
              %a{href:"#"}
                Test@dsfg.com
            %li.phone
              123456789876543
        .column
          %h3
            title
          %ul
            %li.name
              Test
            %li.mail
              %a{href:"#"}
                Test@dsfg.com
            %li.phone
              123456789876543
    = partial "partials/separator-04"
    = partial "partials/contactus"
    = partial "partials/footer"