---
title: "main page"
metas: "main"
---
= partial "partials/header"

#subheader
  #branding
    #logo
    %h1#claim
      = I18n.t("claim")

  #img-bread

    = image_tag "bread.jpg"
#container 
  #aboutus.section
    .left3

      %h2
        = I18n.t("about.title")
    .right9
      %p.desc
        = I18n.t("about.description")
      = image_tag "millbo_logo_certificazione.png"
    .logo-small
  #efree.section
    
    .left3
      %h2
        = I18n.t("efreesection.title")
        
    .right9
      %p.desc
        = I18n.t("efreesection.description1")
      %p
        = t("efreesection.description2")
      %p
        = t("efreesection.description3")
      %p
        = t("efreesection.description4")
    .logo-small
  
  #products.section
    .left3
      %h2
        = t("products.title")
        
    .right9
      %p.desc
        = t("products.description")
        
      .line1
        .product
          = image_tag "products/millbo_pasteacide.jpg"
          %h3
            = t("products.product1.title")
          %p.hyphenate
            = t("products.product1.description")
          %a.button{href:"#{I18n.t("menu.subUrl1")}"}
            = t("products.button")
        .product  
          = image_tag "products/millbo_malti.jpg"
          %h3
            = t("products.product2.title")
          %P
            = t("products.product2.description")
          %a.button{href:"#{I18n.t("menu.subUrl2")}"}
            = t("products.button")
        .product.last
          = image_tag "products/millbo_enzimi.jpg"
          %h3
            = t("products.product3.title")
          %p
            = t("products.product3.description")
          %a.button{href:"#{I18n.t("menu.subUrl3")}"}
            = t("products.button")
      .line2
        .product
          = image_tag "products/millbo_efree.jpg"
          %h3
            = t("products.product4.title")
          %p
            = t("products.product4.description")
          %a.button{href:"#{I18n.t("menu.subUrl4")}"}
            = t("products.button")
        .product
          = image_tag "products/millbo_fermenti.jpg"
          %h3
            = t("products.product5.title")
          %p
            = t("products.product5.description")
          %a.button{href:"#{I18n.t("menu.subUrl5")}"}
            = t("products.button")
        .product.last
          = image_tag "products/millbo_bakery.jpg"
          %h3
            = t("products.product6.title")
          %p
            = t("products.product6.description")  
          %a.button{href:"#{I18n.t("menu.subUrl6")}"}
            = t("products.button")
    .logo-small
  
  #certificate.section
    .left3
      %h2
        = t("certificates.title")
      = image_tag "millbo_certificati_img.jpg"
    .right10
      %p.desc
        = t("certificates.description")
      %h3
        = t("certificates.certificate1")
      %h3.last
        = t("certificates.certificate2")
      %h3
        = t("certificates.certificate3")
      %h3.last
        = t("certificates.certificate4")
      %h3
        = t("certificates.certificate5")
      %h3.last
        = t("certificates.certificate6")
      %h3
        = t("certificates.certificate7")
      %h3.last
        = t("certificates.certificate8")
      %h3
        = t("certificates.certificate9")
      %h3.last
        = t("certificates.certificate10")
        
      .button-container
        %a.button{href:"#{I18n.t("certificates.pdf-url")}", target: "_blank"}
          = t("certificates.button")
          
    .logo-small
  = partial "partials/footer-form"



