---
title: "main page"
metas: "main"
---
= partial "partials/header"
#container
  #subheader
    #branding
      #logo
      %h1#claim
        = I18n.t("claim")

    #img-bread

      = image_tag "bread.jpg"

  #aboutus.section
    .left3

      %h2
        = I18n.t("about.title")
    .right9
      %p.desc
        = I18n.t("about.description")
      = image_tag "millbo_logo_certificazione.png"
    .logo-small
  #efree.section
    
    .left3
      %h2
        = I18n.t("efreesection.title")
    .right9
      %p.desc
        = I18n.t("efreesection.description1")
      %p
        = t("efreesection.description2")
      %p
        = t("efreesection.description3")
      %p
        = t("efreesection.description4")
    .logo-small
  

  
  #certificate.section
    .left3
      %h2
        = t("certificates.title")
      = image_tag "millbo_certificati_img.jpg"
    .right10
      %p.desc
        = t("certificates.description")
      %h3
        = t("certificates.certificate1")
      %h3.last
        = t("certificates.certificate2")
      %h3
        = t("certificates.certificate3")
      %h3.last
        = t("certificates.certificate4")
      %h3
        = t("certificates.certificate5")
      %h3.last
        = t("certificates.certificate6")
      %h3
        = t("certificates.certificate7")
      %h3.last
        = t("certificates.certificate8")
      %h3
        = t("certificates.certificate9")
      %h3.last
        = t("certificates.certificate10")
        
      .button-container
        %a.button{href:"#{I18n.t("certificates.pdf-url")}", target: "_blank"}
          = t("certificates.button")
          
    .logo-small
  = partial "partials/footer-form"



