= partial "partials/header"
#container

  #login.section
    #error.alert.alert-danger
      %a.close{"data-dismiss" => "alert", href: "#"} ×
    .left3
      %h2
        = t("form.registration.title")
    .right9
      %p.desc
        = t("form.registration.description")
      = partial "partials/registration"
      %p.desc
        = t("form.registration.login")
  = partial "partials/footer"