= partial "partials/header"
#container
  = partial "partials/products"
  = partial "partials/case-histories-section"
  = partial "partials/separator-04"
  = partial "partials/contactus-section"
  = partial "partials/footer"
